@font-face {
    font-family: 'Netflix sans';
    font-weight: normal;
    src: url('NetflixSans-Regular.woff') format('woff'),
        url('NetflixSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Netflix sans';
    font-weight: 300;
    src: url('NetflixSans-Light.woff') format('woff'),
        url('NetflixSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Netflix sans';
    font-weight: 500;
    src: url('NetflixSans-Medium.woff') format('woff'),
        url('NetflixSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Netflix sans';
    font-weight: 700;
    src: url('NetflixSans-Bold.woff') format('woff'),
        url('NetflixSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Netflix sans';
    font-weight: 900;
    src: url('NetflixSans-Black.woff') format('woff'),
        url('NetflixSans-Black.ttf') format('truetype');
}